<%- include('header'); -%>



<div class="box" id="heading">
  <h1><%= listTitle%></h1>
  <div class="dropdown">
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="/Home">Home</a></li>
      <li><a class="dropdown-item" href="/Work">Work</a></li>
      <li><a class="dropdown-item" href="/Hey you!">Hey You!</a></li>
    </ul>

  </div>

</div>



<div class="box">

  <%  newListitems.forEach(function(item){%>
  <form class="" action="/delete" method="post">


    <div class="item">
      <input type="checkbox" name="checkBox" value="<%= item._id%>" onchange="this.form.submit()">
      <p><%= item.name%></p>
    </div>
    <input type="hidden" name="listName" value="<%= listTitle%>"></input>
  </form>
  <%});%>



  <form class="item" action="/" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle%>>+</button>

  </form>

</div>
<%- include('footer'); -%>
